# Created by .ignore support plugin (hsz.mobi)
.idea/
__pycache__/
db.sqlite3
manage.py
snakraws/__pycache__/
snakraws/migrations/
templates/
venv/bin/__pycache__/
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/chardetect
venv/bin/django-admin
venv/bin/django-admin.py
venv/bin/dumppdf.py
venv/bin/easy_install
venv/bin/easy_install-3.7
venv/bin/latin2ascii.py
venv/bin/pdf2txt.py
venv/bin/pip
venv/bin/pip3
venv/bin/pip3.7
venv/bin/python
venv/bin/python3
venv/include/
venv/lib/python3.7/site-packages/Crypto/
venv/lib/python3.7/site-packages/Django-2.1.5.dist-info/
venv/lib/python3.7/site-packages/__pycache__/
venv/lib/python3.7/site-packages/beautifulsoup4-4.7.1.dist-info/
venv/lib/python3.7/site-packages/bs4-0.0.1-py3.7.egg-info/
venv/lib/python3.7/site-packages/bs4/
venv/lib/python3.7/site-packages/certifi-2018.11.29.dist-info/
venv/lib/python3.7/site-packages/certifi/
venv/lib/python3.7/site-packages/chardet-3.0.4.dist-info/
venv/lib/python3.7/site-packages/chardet/
venv/lib/python3.7/site-packages/django/
venv/lib/python3.7/site-packages/easy_install.py
venv/lib/python3.7/site-packages/idna-2.8.dist-info/
venv/lib/python3.7/site-packages/idna/
venv/lib/python3.7/site-packages/ipaddress-1.0.22.dist-info/
venv/lib/python3.7/site-packages/ipaddress.py
venv/lib/python3.7/site-packages/opengraph/
venv/lib/python3.7/site-packages/pdfminer.six-20181108.dist-info/
venv/lib/python3.7/site-packages/pdfminer/
venv/lib/python3.7/site-packages/pip-19.0.2.dist-info/
venv/lib/python3.7/site-packages/pip/
venv/lib/python3.7/site-packages/pkg_resources/
venv/lib/python3.7/site-packages/psycopg2-2.7.7.dist-info/
venv/lib/python3.7/site-packages/psycopg2/
venv/lib/python3.7/site-packages/pycryptodome-3.7.3.dist-info/
venv/lib/python3.7/site-packages/python_json_logger-0.1.10.dist-info/
venv/lib/python3.7/site-packages/python_opengraph-0.0.2-py3.7.egg-info/
venv/lib/python3.7/site-packages/pythonjsonlogger/
venv/lib/python3.7/site-packages/pytz-2018.9.dist-info/
venv/lib/python3.7/site-packages/pytz/
venv/lib/python3.7/site-packages/requests-2.21.0.dist-info/
venv/lib/python3.7/site-packages/requests/
venv/lib/python3.7/site-packages/setuptools-39.0.1.dist-info/
venv/lib/python3.7/site-packages/setuptools/
venv/lib/python3.7/site-packages/six-1.12.0.dist-info/
venv/lib/python3.7/site-packages/six.py
venv/lib/python3.7/site-packages/sortedcontainers-2.1.0.dist-info/
venv/lib/python3.7/site-packages/sortedcontainers/
venv/lib/python3.7/site-packages/soupsieve-1.7.3.dist-info/
venv/lib/python3.7/site-packages/soupsieve/
venv/lib/python3.7/site-packages/urllib3-1.24.1.dist-info/
venv/lib/python3.7/site-packages/urllib3/
venv/pip-selfcheck.json
venv/pyvenv.cfg

/start_memcache.sh
/stop_memcache.sh
/venv/
venv/bin/python3.7
venv/lib/python3.7/site-packages/Django-2.1.7.dist-info/
venv/lib/python3.7/site-packages/easy-install.pth
venv/lib/python3.7/site-packages/memcache.py
venv/lib/python3.7/site-packages/psycopg2_binary-2.7.7.dist-info/
venv/lib/python3.7/site-packages/python_memcached-1.59.dist-info/
venv/lib/python3.7/site-packages/setuptools-39.1.0-py3.7.egg
venv/lib/python3.7/site-packages/setuptools.pth
venv/lib/python3.7/site-packages/soupsieve-1.8.dist-info/
venv/lib/python3.7/site-packages/tests/test_extra/__init__.py
venv/lib/python3.7/site-packages/tests/test_extra/test_attribute.py
venv/lib/python3.7/site-packages/tests/test_extra/test_contains.py
venv/lib/python3.7/site-packages/tests/test_extra/test_custom.py
venv/lib/python3.7/site-packages/tests/test_extra/test_defined.py
venv/lib/python3.7/site-packages/tests/test_level1/__init__.py
venv/lib/python3.7/site-packages/tests/test_level1/test_active.py
venv/lib/python3.7/site-packages/tests/test_level1/test_at_rule.py
venv/lib/python3.7/site-packages/tests/test_level1/test_class.py
venv/lib/python3.7/site-packages/tests/test_level1/test_comments.py
venv/lib/python3.7/site-packages/tests/test_level1/test_descendant.py
venv/lib/python3.7/site-packages/tests/test_level1/test_escapes.py
venv/lib/python3.7/site-packages/tests/test_level1/test_id.py
venv/lib/python3.7/site-packages/tests/test_level1/test_link.py
venv/lib/python3.7/site-packages/tests/test_level1/test_list.py
venv/lib/python3.7/site-packages/tests/test_level1/test_pseudo_class.py
venv/lib/python3.7/site-packages/tests/test_level1/test_pseudo_element.py
venv/lib/python3.7/site-packages/tests/test_level1/test_type.py
venv/lib/python3.7/site-packages/tests/test_level1/test_visited.py
venv/lib/python3.7/site-packages/tests/test_level2/__init__.py
venv/lib/python3.7/site-packages/tests/test_level2/test_attribute.py
venv/lib/python3.7/site-packages/tests/test_level2/test_child.py
venv/lib/python3.7/site-packages/tests/test_level2/test_first_child.py
venv/lib/python3.7/site-packages/tests/test_level2/test_focus.py
venv/lib/python3.7/site-packages/tests/test_level2/test_hover.py
venv/lib/python3.7/site-packages/tests/test_level2/test_lang.py
venv/lib/python3.7/site-packages/tests/test_level2/test_next_sibling.py
venv/lib/python3.7/site-packages/tests/test_level2/test_universal_type.py
venv/lib/python3.7/site-packages/tests/test_level3/__init__.py
venv/lib/python3.7/site-packages/tests/test_level3/test_attribute.py
venv/lib/python3.7/site-packages/tests/test_level3/test_checked.py
venv/lib/python3.7/site-packages/tests/test_level3/test_disabled.py
venv/lib/python3.7/site-packages/tests/test_level3/test_empty.py
venv/lib/python3.7/site-packages/tests/test_level3/test_enabled.py
venv/lib/python3.7/site-packages/tests/test_level3/test_first_of_type.py
venv/lib/python3.7/site-packages/tests/test_level3/test_last_child.py
venv/lib/python3.7/site-packages/tests/test_level3/test_last_of_type.py
venv/lib/python3.7/site-packages/tests/test_level3/test_namespace.py
venv/lib/python3.7/site-packages/tests/test_level3/test_not.py
venv/lib/python3.7/site-packages/tests/test_level3/test_nth_child.py
venv/lib/python3.7/site-packages/tests/test_level3/test_nth_last_child.py
venv/lib/python3.7/site-packages/tests/test_level3/test_nth_last_of_type.py
venv/lib/python3.7/site-packages/tests/test_level3/test_nth_of_type.py
venv/lib/python3.7/site-packages/tests/test_level3/test_only_child.py
venv/lib/python3.7/site-packages/tests/test_level3/test_only_of_type.py
venv/lib/python3.7/site-packages/tests/test_level3/test_root.py
venv/lib/python3.7/site-packages/tests/test_level3/test_subsequent_sibling.py
venv/lib/python3.7/site-packages/tests/test_level3/test_target.py
venv/lib/python3.7/site-packages/tests/test_level4/__init__.py
venv/lib/python3.7/site-packages/tests/test_level4/test_any_link.py
venv/lib/python3.7/site-packages/tests/test_level4/test_attribute.py
venv/lib/python3.7/site-packages/tests/test_level4/test_current.py
venv/lib/python3.7/site-packages/tests/test_level4/test_default.py
venv/lib/python3.7/site-packages/tests/test_level4/test_dir.py
venv/lib/python3.7/site-packages/tests/test_level4/test_focus_visible.py
venv/lib/python3.7/site-packages/tests/test_level4/test_focus_within.py
venv/lib/python3.7/site-packages/tests/test_level4/test_future.py
venv/lib/python3.7/site-packages/tests/test_level4/test_has.py
venv/lib/python3.7/site-packages/tests/test_level4/test_host.py
venv/lib/python3.7/site-packages/tests/test_level4/test_host_context.py
venv/lib/python3.7/site-packages/tests/test_level4/test_in_range.py
venv/lib/python3.7/site-packages/tests/test_level4/test_indeterminate.py
venv/lib/python3.7/site-packages/tests/test_level4/test_is.py
venv/lib/python3.7/site-packages/tests/test_level4/test_lang.py
venv/lib/python3.7/site-packages/tests/test_level4/test_local_link.py
venv/lib/python3.7/site-packages/tests/test_level4/test_matches.py
venv/lib/python3.7/site-packages/tests/test_level4/test_not.py
venv/lib/python3.7/site-packages/tests/test_level4/test_nth_child.py
venv/lib/python3.7/site-packages/tests/test_level4/test_optional.py
venv/lib/python3.7/site-packages/tests/test_level4/test_out_of_range.py
venv/lib/python3.7/site-packages/tests/test_level4/test_past.py
venv/lib/python3.7/site-packages/tests/test_level4/test_paused.py
venv/lib/python3.7/site-packages/tests/test_level4/test_placeholder_shown.py
venv/lib/python3.7/site-packages/tests/test_level4/test_playing.py
venv/lib/python3.7/site-packages/tests/test_level4/test_read_only.py
venv/lib/python3.7/site-packages/tests/test_level4/test_read_write.py
venv/lib/python3.7/site-packages/tests/test_level4/test_required.py
venv/lib/python3.7/site-packages/tests/test_level4/test_scope.py
venv/lib/python3.7/site-packages/tests/test_level4/test_target_within.py
venv/lib/python3.7/site-packages/tests/test_level4/test_user_invalid.py
venv/lib/python3.7/site-packages/tests/test_level4/test_where.py
/snakraws/local_settings.py
