# Created by .ignore support plugin (hsz.mobi)
.idea/
__pycache__/
db.sqlite3
manage.py
snakraws/__pycache__/
snakraws/migrations/
templates/
venv/bin/__pycache__/
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/chardetect
venv/bin/django-admin
venv/bin/django-admin.py
venv/bin/dumppdf.py
venv/bin/easy_install
venv/bin/easy_install-3.7
venv/bin/latin2ascii.py
venv/bin/pdf2txt.py
venv/bin/pip
venv/bin/pip3
venv/bin/pip3.7
venv/bin/python
venv/bin/python3
venv/include/
venv/lib/python3.7/site-packages/Crypto/
venv/lib/python3.7/site-packages/Django-2.1.5.dist-info/
venv/lib/python3.7/site-packages/__pycache__/
venv/lib/python3.7/site-packages/beautifulsoup4-4.7.1.dist-info/
venv/lib/python3.7/site-packages/bs4-0.0.1-py3.7.egg-info/
venv/lib/python3.7/site-packages/bs4/
venv/lib/python3.7/site-packages/certifi-2018.11.29.dist-info/
venv/lib/python3.7/site-packages/certifi/
venv/lib/python3.7/site-packages/chardet-3.0.4.dist-info/
venv/lib/python3.7/site-packages/chardet/
venv/lib/python3.7/site-packages/django/
venv/lib/python3.7/site-packages/easy_install.py
venv/lib/python3.7/site-packages/idna-2.8.dist-info/
venv/lib/python3.7/site-packages/idna/
venv/lib/python3.7/site-packages/ipaddress-1.0.22.dist-info/
venv/lib/python3.7/site-packages/ipaddress.py
venv/lib/python3.7/site-packages/opengraph/
venv/lib/python3.7/site-packages/pdfminer.six-20181108.dist-info/
venv/lib/python3.7/site-packages/pdfminer/
venv/lib/python3.7/site-packages/pip-19.0.2.dist-info/
venv/lib/python3.7/site-packages/pip/
venv/lib/python3.7/site-packages/pkg_resources/
venv/lib/python3.7/site-packages/psycopg2-2.7.7.dist-info/
venv/lib/python3.7/site-packages/psycopg2/
venv/lib/python3.7/site-packages/pycryptodome-3.7.3.dist-info/
venv/lib/python3.7/site-packages/python_json_logger-0.1.10.dist-info/
venv/lib/python3.7/site-packages/python_opengraph-0.0.2-py3.7.egg-info/
venv/lib/python3.7/site-packages/pythonjsonlogger/
venv/lib/python3.7/site-packages/pytz-2018.9.dist-info/
venv/lib/python3.7/site-packages/pytz/
venv/lib/python3.7/site-packages/requests-2.21.0.dist-info/
venv/lib/python3.7/site-packages/requests/
venv/lib/python3.7/site-packages/setuptools-39.0.1.dist-info/
venv/lib/python3.7/site-packages/setuptools/
venv/lib/python3.7/site-packages/six-1.12.0.dist-info/
venv/lib/python3.7/site-packages/six.py
venv/lib/python3.7/site-packages/sortedcontainers-2.1.0.dist-info/
venv/lib/python3.7/site-packages/sortedcontainers/
venv/lib/python3.7/site-packages/soupsieve-1.7.3.dist-info/
venv/lib/python3.7/site-packages/soupsieve/
venv/lib/python3.7/site-packages/urllib3-1.24.1.dist-info/
venv/lib/python3.7/site-packages/urllib3/
venv/pip-selfcheck.json
venv/pyvenv.cfg

